@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;

}

.containerr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

}

.card {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.title h1 {
  font-size: 30px;
  font-weight: bold;
}

.sinopse {
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: justify;
}

.actions {
  padding-top: 15px;
}
button {
  padding-top: 15px;
  height: 50px;
  width: 100px;
  background-color: #3021fd;
}

button:hover {
  background-color: #ae00ff;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

main{
  padding-bottom: 50px;

}
.container-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  gap: 20px;
}
.container-comment h1 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.example-card {
  width: 700px;
}

.example-header-image {
  /* https://material.angular.io/assets/img/examples/shiba1.jpg */
  background-image: url("https://th.bing.com/th/id/OIP.pdQm0Y30i-9gnj2eo1CVWwHaHa?pid=ImgDet&rs=1");
  background-size: cover;
}
